.wpdev-block-settings-panel {
	.components-base-control {
		width: 100%;
	}
	.components-base-control.components-checkbox-control {
		margin-bottom: 6px;
	}

	.components-v-stack {
		width: 100%;
	}

	&__label {
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: calc(8px);
		padding: 0px;
		width: 100%;
	}

	&__select {
		width: 100%;
	}
	&__help {
		margin-top: calc(8px);
		margin-bottom: 16px;
		font-size: 12px;
		font-style: normal;
		color: rgb(117, 117, 117);
		// &:last-child {
		// 	margin-bottom: 8px;
		// }
	}
}
